<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>MD Buddy Preview</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>QLIsDataBasedPreview</key>
			<false/>
			<key>QLSupportsSearchableItems</key>
			<false/>
			<key>QLSupportedContentTypes</key>
			<array>
				<!-- Markdown -->
				<string>net.daringfireball.markdown</string>
				<string>org.contextlab.mdbuddy.markdown</string>
				<string>com.rstudio.rmarkdown</string>
				<string>org.quarto.qmarkdown</string>
				<!-- Plain text -->
				<string>public.plain-text</string>
				<string>public.log</string>
				<string>public.delimited-values-text</string>
				<!-- Source code -->
				<string>public.source-code</string>
				<string>public.script</string>
				<string>public.shell-script</string>
				<string>public.python-script</string>
				<string>public.ruby-script</string>
				<string>public.perl-script</string>
				<string>public.php-script</string>
				<string>public.c-source</string>
				<string>public.c-header</string>
				<string>public.c-plus-plus-source</string>
				<string>public.c-plus-plus-header</string>
				<string>public.objective-c-source</string>
				<string>public.objective-c-plus-plus-source</string>
				<string>public.swift-source</string>
				<string>com.sun.java-source</string>
				<string>com.netscape.javascript-source</string>
				<string>com.adobe.jsx</string>
				<string>public.tsx</string>
				<string>public.json</string>
				<string>public.yaml</string>
				<string>public.toml</string>
				<string>com.microsoft.ini</string>
				<string>public.css</string>
				<string>public.make-source</string>
				<string>public.patch-file</string>
				<string>org.tug.tex</string>
				<string>org.tug.tex.bibtex</string>
				<string>org.elixir-lang.source</string>
				<string>org.cmake.cmake</string>
				<string>org.contextlab.mdbuddy.source</string>
			</array>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.quicklook.preview</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).PreviewViewController</string>
	</dict>
</dict>
</plist>
